@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form asp-controller="Login" asp-action="Login">
        <input type="text" name="email">
        <input type="password" name="password"/>
        <input type="submit" title="Login"/>
        <a>Não tenho cadastro</a>
    </form>
    
</div>